ul{
  list-style: none;
}

.jumbotron{
  background: linear-gradient(0deg,#fff,transparent),
              url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0trUVwplsTUTmx5FiPjhFlJyKwfz4GQ6rDg&usqp=CAU') no-repeat center;
  background-size:  cover;

}

:target, .highlight:hover{
  box-shadow: 0px 0px 10px 15px rgba(0,0,0, .4);
}

.highlight{
  border: 1;
}

.social-media-contact a::after{
  margin: 10px;
  display: inline-block;  /* you need to put this, that way you can modify the shape of the element */
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.instagram::after{
  content: url(./media/instagram.svg);
}
.facebook::after{
  content: url(./media/facebook.svg);
}
.twitter::after{
  content: url(./media/twitter.svg);
}
.nav{
  margin:60px;
  background-color: #e3f2fd;
}
#title{
text-decoration-style: wavy;
font-style: oblique;
color: coral;
font-family: "Comic Sans MS", cursive, sans-serif;

}
.title-letter{
  text-decoration-style: wavy;
  color: rgb(247, 134, 6);
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-top: 0.2px;
  font-size: xx-large;
  text-decoration-style: double;
  
}
.title-content{
  color: rgb(7, 80, 76);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: x-large;
  background-blend-mode: darken;
  backface-visibility: initial;
 
}

.nav-link
{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: large;
  color: orange;
  font-weight: bold;
  font-size:large;
}

.content-font
{
  color: rgb(7, 80, 76);
  font-family: "Comic Sans MS", cursive, sans-serif;

}